$text: #fff;
$body-bg: #111827;

$theme-colors: (
  "primary": #0f9d58,
  "background": $body-bg,
  "backgroundCompliment": #1e293b,
  "text": $text,
  "overlay": #111827,
  "primaryText": $text,
);

body {
  color: $text !important;
}

select {
  appearance: auto !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
