$text: #111827;
$body-bg: rgb(244, 244, 244);

$theme-colors: (
  "primary": #1aa260,
  "secondary": #1aa260,
  "header": #1aa260,
  "background": $body-bg,
  "backgroundCompliment": #fff,
  "text": $text,
  "overlay": #111827,
  "primaryText": #fff,
);

body {
  color: $text !important;
}

select {
  appearance: auto !important;
}

@import "node_modules/bootstrap/scss/bootstrap";
