$text: #fff;
$body-bg: #111827;

$theme-colors: (
  "primary": #3b82f6,
  "background": $body-bg,
  "backgroundCompliment": #1e293b,
  "text": $text,
  "overlay": #111827,
  "primaryText": $text,
);

body {
  color: $text !important;
}

select {
  appearance: auto !important;
}

input {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
